
@{
    ViewBag.Title = "Aksesuarlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div id="banner-area" style="width:80%; margin:auto;">
        <img class="foto" src="~/Content/images/slider/anaresimler/aksesuarlar.jpg" style="        width: 100%;
        height: 376px;
        object-fit: cover;
        object-position: 20% 15%" />
        <div class="parallax-overlay"></div>
        <!-- Subpage title start -->
        <div class="banner-title-content yazi">
            <div class="text-center">
                <h2 class="yazi">Accessories</h2>
            </div>
        </div><!-- Subpage title end -->
    </div><!-- Banner area end -->
</div>
<!-- Portfolio start -->
<div class="container" style="width:62%">
    <section id="main-container" class="portfolio-static">

        <div class="row">
            <div class="col-sm-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img src="~/Content/images/HRP/Aksesuarlar/agm-001/ayna-001.jpg" alt="">
                        <figcaption>
                            <a class="view icon-pentagon" href='@Url.Action("AksesuarDetay","Home",new  {@id=1})'><i class="fa fa-search"></i></a>

                        </figcaption>
                    </figure>
                    <div class="portfolio-static-desc text-center">

                        <span><a>agm-001</a></span>
                    </div>
                </div><!--/ grid end -->
            </div><!--/ item 1 end -->

            <div class="col-sm-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img src="~/Content/images/HRP/Aksesuarlar/agm-002/ayna-002.jpg" alt="">
                        <figcaption>
                            <a class="view icon-pentagon" href='@Url.Action("AksesuarDetay","Home",new  {@id=2})'><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>
                    <div class="portfolio-static-desc text-center">

                        <span><a>agm-002</a></span>
                    </div>
                </div><!--/ grid end -->
            </div><!--/ item 2 end -->

            <div class="col-sm-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img src="~/Content/images/HRP/Aksesuarlar/agm-003/ayna-003.jpg" alt="">
                        <figcaption>
                            <a class="view icon-pentagon" href='@Url.Action("AksesuarDetay","Home",new  {@id=3})'><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>
                    <div class="portfolio-static-desc text-center">

                        <span><a>agm-003</a></span>
                    </div>
                </div><!--/ grid end -->
            </div><!--/ item 3 end -->

            <div class="col-sm-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img src="~/Content/images/HRP/Aksesuarlar/agm-004/ayna-004.jpg" alt="">
                        <figcaption>
                            <a class="view icon-pentagon" href='@Url.Action("AksesuarDetay","Home",new  {@id=4})'><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>
                    <div class="portfolio-static-desc text-center">

                        <span><a>agm-004</a></span>
                    </div>
                </div><!--/ grid end -->
            </div><!--/ item 4 end -->

            <div class="col-sm-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img src="~/Content/images/HRP/Aksesuarlar/agm-005/ayna-005.jpg" alt="">
                        <figcaption>
                            <a class="view icon-pentagon" href='@Url.Action("AksesuarDetay","Home",new  {@id=5})'><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>
                    <div class="portfolio-static-desc text-center">

                        <span><a>agm-005</a></span>
                    </div>
                </div><!--/ grid end -->
            </div><!--/ item 5 end -->

            <div class="col-sm-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img src="~/Content/images/HRP/Aksesuarlar/agm-006/ayna-006.jpg" alt="">
                        <figcaption>
                            <a class="view icon-pentagon" href='@Url.Action("AksesuarDetay","Home",new  {@id=6})'><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>
                    <div class="portfolio-static-desc text-center">

                        <span><a> agm-006</a></span>
                    </div>
                </div><!--/ grid end -->
            </div><!--/ item 6 end -->

            <div class="col-sm-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img src="~/Content/images/HRP/Aksesuarlar/dt-004/dus-oturagi-004-600x600.jpg" alt="">
                        <figcaption>
                            <a class="view icon-pentagon" href='@Url.Action("AksesuarDetay","Home",new  {@id=7})'><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>
                    <div class="portfolio-static-desc text-center">
                        <span><a>dt-004</a></span>
                    </div>
                </div><!--/ grid end -->
            </div><!--/ item 7 end -->

            <div class="col-sm-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img src="~/Content/images/HRP/Aksesuarlar/etb-001/etb-engelli-tutunma-bari-001-600x600.jpg" alt="">
                        <figcaption>
                            <a class="view icon-pentagon" href='@Url.Action("AksesuarDetay","Home",new  {@id=8})'><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>
                    <div class="portfolio-static-desc text-center">
                        <span><a>etb-001</a></span>
                    </div>
                </div><!--/ grid end -->
            </div><!--/ item 8 end -->
            <div class="col-sm-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img src="~/Content/images/HRP/Aksesuarlar/etb-002/etb-engelli-tutunma-bari-002-600x600.jpg" alt="">
                        <figcaption>
                            <a class="view icon-pentagon" href='@Url.Action("AksesuarDetay","Home",new  {@id=9})'><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>
                    <div class="portfolio-static-desc text-center">
                        <span><a>etb-002</a></span>
                    </div>
                </div><!--/ grid end -->
            </div><!--/ item 9 end -->
            <div class="col-sm-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img src="~/Content/images/HRP/Aksesuarlar/etb-002-2/etb-engelli-tutunma-bari-002-2-r-600x600.jpg" alt="">
                        <figcaption>
                            <a class="view icon-pentagon" href='@Url.Action("AksesuarDetay","Home",new  {@id=10})'><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>
                    <div class="portfolio-static-desc text-center">
                        <span><a>etb-002-2</a></span>
                    </div>
                </div><!--/ grid end -->
            </div><!--/ item 10 end -->
            <div class="col-sm-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img src="~/Content/images/HRP/Aksesuarlar/etb-003/etb-engelli-tutunma-bari-003-600x600.jpg" alt="">
                        <figcaption>
                            <a class="view icon-pentagon" href='@Url.Action("AksesuarDetay","Home",new  {@id=11})'><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>
                    <div class="portfolio-static-desc text-center">
                        <span><a>etb-003</a></span>
                    </div>
                </div><!--/ grid end -->
            </div><!--/ item 11 end -->
            <div class="col-sm-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img src="~/Content/images/HRP/Aksesuarlar/twl-001/havluluk1-600x600.jpg" alt="">
                        <figcaption>
                            <a class="view icon-pentagon" href='@Url.Action("AksesuarDetay","Home",new  {@id=12})'><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>
                    <div class="portfolio-static-desc text-center">
                        <span><a>twl-001</a></span>
                    </div>
                </div><!--/ grid end -->
            </div><!--/ item 12 end -->
            <div class="col-sm-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img src="~/Content/images/HRP/Aksesuarlar/twl-002/havlulu-002-1-600x600.jpg" alt="">
                        <figcaption>
                            <a class="view icon-pentagon" href='@Url.Action("AksesuarDetay","Home",new  {@id=13})'><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>
                    <div class="portfolio-static-desc text-center">
                        <span><a>twl-02</a></span>
                    </div>
                </div><!--/ grid end -->
            </div><!--/ item 13 end -->
            <div class="col-sm-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img src="~/Content/images/HRP/Aksesuarlar/twl-002-2/havluluk-002-2-600x600.jpg" alt="">
                        <figcaption>
                            <a class="view icon-pentagon" href='@Url.Action("AksesuarDetay","Home",new  {@id=14})'><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>
                    <div class="portfolio-static-desc text-center">
                        <span><a>twl-02-2</a></span>
                    </div>
                </div><!--/ grid end -->
            </div><!--/ item 14 end -->
            <div class="col-sm-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img src="~/Content/images/HRP/Aksesuarlar/twl-003/havluluk3-600x600.jpg" alt="">
                        <figcaption>
                            <a class="view icon-pentagon" href='@Url.Action("AksesuarDetay","Home",new  {@id=15})'><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>
                    <div class="portfolio-static-desc text-center">
                        <span><a>twl-003</a></span>
                    </div>
                </div><!--/ grid end -->
            </div><!--/ item 15 end -->
            <div class="col-sm-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img src="~/Content/images/HRP/Aksesuarlar/twl-004/havluluk-004-600x600.jpg" alt="">
                        <figcaption>
                            <a class="view icon-pentagon" href='@Url.Action("AksesuarDetay","Home",new  {@id=16})'><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>
                    <div class="portfolio-static-desc text-center">
                        <span><a>twl-004</a></span>
                    </div>
                </div><!--/ grid end -->
            </div><!--/ item 16 end -->
        </div><!-- Content row end -->

    </section><!-- Portfolio end -->
</div><!-- Container end -->
